body{
	background: #FFF;
}

button, a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
}
.centraliza{
	max-width: 1200px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
#conteudo{
	margin-top: 20px;
	margin-bottom: 20px;
}
.txt{
	font-size: 1em;
	line-height: 1.8em;
	color: #222;
}
h1{
	font-size: 2.5em;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	text-transform: uppercase;
	color: #3D3D3D;
}


/* Retirando Padding */
.no-padding{
	padding: 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding-right{
	padding-right: 0 !important;
}
.no-padding-top{
	padding-top: 0 !important;
}
.no-padding-bottom{
	padding-bottom: 0 !important;
}
.no-padding-x{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-y{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* Retirando Margin */
.no-margin{
	margin: 0 !important;
}
.no-margin-left{
	margin-left: 0 !important;
}
.no-margin-right{
	margin-right: 0 !important;
}
.no-margin-top{
	margin-top: 0 !important;
}
.no-margin-bottom{
	margin-bottom: 0 !important;
}
.no-margin-x{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin-y{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.no-border-radius{
	border-radius: 0 !important;
}

.top25{
	margin-top: 25px;
}
.bot20{
	border-top: 20px;
}
#logo-content{
	background: #bfe637;
	padding: 10px;
}
.bgmenu{
	background: #2b2c2d;
	height: 100% !important;
}






header{
	background: url(../../images/bg.jpg) #e9e8e8 repeat-x center top;
	min-height: 65px;
	border-bottom: 1px solid #CCC;
}
.btn-config{
	position: relative;
	top: 8px;
	right: 8px;
	float: right;
	border-radius: 0 !important;
	z-index: 999;
}
.menu{
	background: #73cf56;
}
.dropdown a, .nav li a{
	color: #FFF !important;
}
.dropdown a:focus, .dropdown a:hover, .dropdown a:active, .dropdown a:visited, .nav a:focus, .nav a:hover, .nav a:active, .nav a:visited{
	background: #69c04e !important;
}
.dropdown-menu li a{
	color: #666 !important;
	padding-top: 8px;
	padding-bottom: 8px;
}
.dropdown-menu li a:hover{
	background: #E7E7E7 !important;
}
.saudacao{
	position: relative;
	top: 15px;
	left: 0px;
	background: #FFF;
	color: #777;
	font-size: 0.9em;
	display: inline-block;
	padding: 6px;
	z-index: 998;
}
.txt-admin{
	line-height: 26px;
	color: #666;
}
.aviso-senha{
	font-size: 0.9em;
	text-transform: uppercase;
}
.blockNews{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.blockNews li{
	list-style: none;
	padding: 10px;
}
.blockNews li:nth-child(odd){
	background: #E9E9E9;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
.blockNews li:first-child{
	background: #73cf56;
	border: none !important;
}

.blockNews li div.tt strong{
	color: #336125;
}

nav{
	background: none !important;
	border: 0 !important;
	box-shadow: none !important;
}

.brand-logo img{
	padding-top: 5px !important;
}
ul.menutop li a{
	text-transform: uppercase;
}
.mmob{
	color: #496e10;
	font-size: 2.4em;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 15px;
	background: #84c225;
}
.banner{
	background: #78AE48;
	min-height: 200px;
}

.telh{
	color: #f2955c;
	font-size: 1.45em;
}
.addbanner{
	font-size: 3em;
	color: #E74C4C;
}
.addbanner:hover{
	color: #EF6868;
}
.titlelist{
	background: #D9D9D9;
	margin-top: 30px;
	padding: 15px 10px;
	color: #5D5D5D;
}
.llb{
	padding: 10px;
}
.listbanners{
	margin-top: 0;
}
.listbanners div.llb:nth-child(odd){
	background: #F1F1F1;
}
.listbanners div.llb:nth-child(even){
	background: #FFF;
}

.btnvoltar{
	background: #E97474;
	padding: 6px 12px;
	color: #FFF;
	border-radius: 32px;
	font-size: 0.8em;
}
.btnvoltar:hover{
	background: #822121;
	color: #FFF;
}
#tabela{
	margin-top: 20px;
}
.contentr:nth-child(odd){
	background: #FFF !important;
}
.contentr:nth-child(even){
	background: #F3FFE3 !important;
}
.search{
	border: 1px solid #B1B1B1 !important;
	border-radius: 36px !important;
	background: #FFF !important;
	padding-left: 20px !important;
	margin-bottom: 0 !important;
	width: 90% !important;
}
.tablehead{
	background: #C1C1C1 !important;
	color: #4D4D4D !important;
	font-weight: normal !important;
}
.tablehead tr, .tablehead td{
	border-radius: 0 !important;
}
.subhead{
	background: #E8E8E8 !important;
}
.contentr td:first-child{
	max-width: 50px;
}
.mt20{
	margin-top: 20px !important;
}
/* Botão para abrir site */
.btnh{
	margin-right: 5px;
	background: #186DA3;
	padding-right: 10px;
	padding-left: 10px;
}
.btnh span{
	color: #FFF !important;
}

.orderCmp{
	display: inline-block;
	float: left;
}
.ordemcamp{
	max-width: 50px !important;
}
.orderlist{
	background: #FFF;
}

.input-field select{
	position: relative;
	z-index: 1500 !important;
}