@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/*
	font-family: 'Montserrat', sans-serif;
	-----
	font-family: 'Playfair Display', serif;
*/
body{
	background: #FFF;
	font-family: 'Montserrat', sans-serif;
}
.slider .indicators .indicator-item.active {
  background-color:#000; 
}
.flex-active{
	background: #1562A3 !important;
}
.slider .indicators .indicator-item {
  background-color: #000;
  border-radius:50%;
  border: 2px solid #034da7;
  cursor:pointer;
  display:inline-block;
  height:10px;
  margin:0 5px;
  position:relative;
  transition:background-color 0.3s;
  width:10px;
}
.assinatura{
	text-align: center;
	font-size: 1em;
	color: #666;
	padding-bottom: 15px;
	padding-top: 15px;
}
.logo{
	padding-top: 15px !important;
}
.assinatura2{
	text-align: center;
	font-size: 1em;
	color: #666;
}
.assinatura a{
	color: #666;
}
.assinatura a:hover{
	text-decoration: underline;
}
.centraliza{
	max-width: 1170px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
button, a, button:hover, a:hover{
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

.no-padding{
	padding: 0 !important;
}
.no-padding-top{
	padding-top: 0 !important;
}
.no-padding-right{
	padding-right: 0 !important;
}
.no-padding-bottom{
	padding-bottom: 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding-x{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-y{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.no-margin-top{
	margin-top: 0 !important;
}
.no-margin-right{
	margin-right: 0 !important;
}
.no-margin-bottom{
	margin-bottom: 0 !important;
}
.no-margin-left{
	margin-left: 0 !important;
}
.no-margin-x{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin-y{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.no-border{
	border: none !important;
}
.mt20{
	margin-top: 20px !important;
}
.mt30{
	margin-top: 30px !important;
}
.mt60{
	margin-top: 60px !important;
}
.pt5{
	padding-top: 9px !important;
}
.pl10{
	padding-left: 10px !important;
}
.mb20{
	margin-bottom: 20px !important;
}
.no-radius{
	border-radius: 0 !important;
}


/* css - custom */
.fonetop{
	display: block;
	margin-top: -8px;
}
.fonetop span{
	font-family: 'mullerlightuploaded_file';
	font-size: 1.2em;
	color: #000;
}
.fonetop strong{
	font-family: 'mullerheavyitalicuploadedfile';
	font-size: 2.6em;
	color: #000;
}
#bannerHome{
	background: url(../../images/bannerhome.jpg);
	background-size: cover;
	min-height: 700px;
}
.infb{
	position: absolute;
}
.txtbanner{
	position: relative;
	top: 330px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
}
.saib{
	color: #FFF;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	position: relative;
	top: 550px;
	right: 0;
}
.mt5{
	margin-top: 5px !important;
}
.rodapeBlack{
	background: #000;
	padding-top: 80px;
	padding-bottom: 35px;
	border-top: 3px solid #690b20;
}
.infooter{
	font-family: 'Montserrat', sans-serif;
}
.infooter span{
	text-transform: uppercase;
	color: #690b20;
	font-weight: 300;
	display: block;
	font-size: 1.5em;
}
.infooter ul li a{
	color: #FFF;
	text-transform: uppercase;
	font-size: 1em;
	line-height: 1.8em;
}
.dtef, .dtef2{
	margin-left: 6px;
	color: #FFF;
	display: inline-block;
	margin-top: 4px;
}
.dtef2{
	margin-top: 8px;
}
.slider .slides{
	background: none !important;
	height: auto !important;
}
.slider{
	overflow: hidden;
	height: auto !important;
	width: 100% !important;
}
.bannerHome{
	height: auto;
	position: relative;
	border-bottom: 1px dashed #959595;
}
.direitos{
	background: #690b20;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.mt40{
	margin-top: 40px !important;
}
.direitos strong{
	font-weight: 500;
}
.direitos span{
	font-size: 0.8em !important;
}
.direitos span a{
	color: #FFF;
}
.titles{
	border-bottom: 2px solid #afaeae;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.titles h1, .titles h2, .titles h3{
	color: #690b20;
}
.titles span{
	font-size: 1.4em;
}
.uppercase{
	text-transform: uppercase !important;
}
h1, h2, h3{
	line-height: 1.2em;
	font-size: 2.8em;
	margin-top: 0;
	margin-bottom: 0;
}
.blockHome{
	border: 2px solid #afaeae;
	padding: 30px !important;
	min-height: 285px !important;
}
.blockHome strong{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.6em;
	margin-bottom: 5px;
}
.blockHome p{
	text-align: justify !important;
}
.mr20{
	margin-right: 20px !important;
}
.mb80{
	margin-bottom: 80px !important;
}
.btn{
	background: #690b20;
	color: #FFF;
	font-weight: bolder;
	font-size: 0.7em;
}
.mb60{
	margin-bottom: 60px !important;
}
.linet{
	width: 50px;
	height: 3px;
	background: #690b20;
	margin: 0 auto;
}
.blockHome p{
	font-size: 0.9em !important;
	color: #515151;
}

.txt{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
}
.ct{
	max-width: 920px;
	margin: 0 auto;
}
.mb40{
	margin-bottom: 40px !important;
}
.mb50{
	margin-bottom: 50px !important;
}
/*
.slider{
	top: -140px;
	margin-bottom: -180px;
	position: relative;
	z-index: 1;
}*/

.slider .slides li{
	height: auto !important;
}
.indicators{
	z-index: 900 !important;
}
/* NAVEGAÇÃO TOP */
nav{
	min-height: 130px !important;
	padding-top: 10px !important;
	background: #FFF;

	border-bottom: 2px solid #690b20 !important;
}
nav ul li{
	padding-left: 14px;
	padding-right: 14px;
}
nav ul li a{
	color: #333;
	font-size: 1em;
	text-transform: uppercase;
	border: 1px solid #FFF;
	padding-left: 18px;
	padding-right: 18px;
}
nav ul li a:hover, .mactive{
	border: 1px solid #690b20 !important;
}
ul#dropdown li a{
	color: #333 !important;
}
ul#dropdown li a:hover{
	border: none !important;
	color: #690b20 !important;
}
nav ul li:hover{
	background: none !important;
}
nav ul{
	margin-top: 22px;
}
.brand-logo{
	margin-top: 5px !important;
}
nav i{
	color: #333 !important;
	margin-top: 18px;
	margin-left: 10px;
}
/* FOOTER */
footer{ 
	background: #e1e1e1;
	padding-bottom: 15px;
	margin-bottom: 0;
}

@media(max-width: 800px) {
	.logo img{
		max-width: 80% !important;
	}
	#bannerHome{
		min-height: 450px !important;
	}
	.txtbanner{
		top: 80px !important;
	}
	.saib{
		top: 120px !important;
	}
	
}
@media (max-width: 992px){
	
}
@media (max-width: 1200px){
 	
}
.linecontacthome{
	background: #f1f0f0;
	padding-top: 35px;
	padding-bottom: 30px;
	margin-bottom: 60px;
}
.formHome input, .formHome textarea{
	border: 2px solid #690b20;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 12px;
	padding-bottom: 12px;
}
.formHome textarea{
	min-height: 140px;
}
.formHome button{
	font-size: 1.2em !important;
	padding-top: 7px;
	padding-bottom: 10px;
	min-height: 50px;
}
.center740{
	max-width: 740px;
	margin: 0 auto;
}
.depoimentosHome{
	font-family: 'Playfair Display', serif;
	background: url('../../images/back-depo.jpg') center top;
	padding-top: 40px;
	padding-bottom: 15px;
	color: #FFF;
	font-size: 1.8em;
	text-transform: uppercase;
}
.depoimentosHome strong{
	font-size: 0.6em !important;
	font-family: 'Montserrat', sans-serif !important;
	text-transform: uppercase;
	color: #FFF;
	padding-right: 30px;
}
.slick-dots
{
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;

}
.slick-dots li button{
	background: #c4c4c4;
	margin-left: 4px;
	margin-top: 4px;
	width: 11px;
	height: 11px;
	border-radius: 360px !important;
}
#bannerInterna{
	min-height: 400px;
	margin-bottom: 40px;
	background-size: cover;
}
#navCivil{
	background: url(../../images/banners/banner-civil.jpg) #000 no-repeat right top;
	background-opacity:0.2;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: bolder;
}
#navCriminal{
	background: url(../../images/banners/banner-criminal.jpg) #000 no-repeat center top;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: bolder;
}
#navDesportivo{
	background: url(../../images/banners/banner-desportivo.jpg) #000 no-repeat center top;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: bolder;
}
#navCivil a, #navCriminal a, #navDesportivo a{
	color: #FFF;
	font-size: 2em;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 2px solid #FFF;
	border-top: 2px solid #FFF;
}
.mbn30{
	margin-top: -40px !important;
}