.txtequipe{
	font-family: 'Montserrat', sans-serif;
}
.txtequipe p strong{
	display: block;
	color: #690b20;
	font-size: 1em;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.txtequipe p{
	color: #515151;
	font-size: 0.9em;
}
.nome{
	text-transform: uppercase;
	color: #690b20;
	font-size: 1.2em;
	display: block;
	text-align: center;
	padding-bottom: 8px;
	border-bottom: 2px solid #afaeae;
	margin-top: 20px;
}
.especializacao{
	color: #afaeae;
	display: block;
	padding-top: 15px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-size: 1em;
}