body{
	background: url(../../images/bg-login.jpg) #f3f3f3 repeat-x center top;
}
.centraliza{
	max-width: 1200px;
	margin: 0 auto;
}
.clear{
	clear: both;
}

/* Retirando Padding */
.no-padding{
	padding: 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding-right{
	padding-right: 0 !important;
}
.no-padding-top{
	padding-top: 0 !important;
}
.no-padding-bottom{
	padding-bottom: 0 !important;
}
.no-padding-x{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-y{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.lembrar{
	margin-top: 5px !important;
	display: block;
}
.lembrar:hover{
	text-decoration: underline;
}
.direitoslogin{
	text-align: center;
	font-size: 0.7em;
	padding-top: 10px;
}
/* Retirando Margin */
.no-margin{
	margin: 0 !important;
}
.no-margin-left{
	margin-left: 0 !important;
}
.no-margin-right{
	margin-right: 0 !important;
}
.no-margin-top{
	margin-top: 0 !important;
}
.no-margin-bottom{
	margin-bottom: 0 !important;
}
.no-margin-x{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin-y{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.top25{
	margin-top: 25px;
}
.bot20{
	border-top: 20px;
}
.box-login{
	max-width: 330px;
	padding: 15px;
	background: #FFF;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 20px !important;
}
.advertencia{
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
.advertencia p{
	display: inline-block;
	background: #FF0000;
	padding: 8px 12px;
	border-radius: 32px;
}
.direitoslogin a{
	color: #45711B;
}
.direitoslogin a:hover{
	text-decoration: underline;
}