.redtxt{
	color: #690b20 !important;
}
.subtxt{
	color: #afaeae;
}
.barbottom{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #afaeae;
}
.txtserv{
	font-size: 0.9em !important;
}
.w85{
	max-width: 85%;
}
@media(max-width: 996px) {
	.w85{
		max-width: 100% !important;
	}
	
}
.linecontacts{
	margin-top: 30px;
	text-transform: uppercase;
	color: #333;
}
.linecontacts strong{
	color: #690b20 !important;
	display: block;
}
.linecontacts p{
	margin-top: 5px;
}
.linecontacts span{
	color: #afaeae !important;
	display: block;
}