.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
	border:3px solid #FFF;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	
	-webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;

	background: #361F5F;
	pointer-events: none;
	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(../../../images/portfolio/thumbs/farmacia-bicho01.jpg);
}

.ch-img-2 { 
	background-image: url(../../../images/portfolio/thumbs/granpaleteria02.jpg);
}

.ch-img-3 { 
	background-image: url(../../../images/portfolio/thumbs/farmacia-bicho03.jpg);
}
.ch-img-4 { 
	background-image: url(../../../images/portfolio/thumbs/farmacia-bicho04.jpg);
}
.ch-img-5 { 
	background-image: url(../../../images/portfolio/thumbs/calango01.jpg);
}
.ch-img-6 { 
	background-image: url(../../../images/portfolio/thumbs/calango02.jpg);
}
.ch-img-7 { 
	background-image: url(../../../images/portfolio/thumbs/granpaleteria01.jpg);
}
.ch-img-8 { 
	background-image: url(../../../images/portfolio/thumbs/imaculada01.jpg);
}
.ch-img-9 { 
	background-image: url(../../../images/portfolio/thumbs/mariangela01.jpg);
}
.ch-img-10 { 
	background-image: url(../../../images/portfolio/thumbs/hdw01.jpg);
}
.ch-img-11 { 
	background-image: url(../../../images/portfolio/thumbs/dg01.jpg);
}
.ch-img-12 { 
	background-image: url(../../../images/portfolio/thumbs/wl01.jpg);
}
.ch-img-13 { 
	background-image: url(../../../images/portfolio/thumbs/wl02.jpg);
}
.ch-img-14 { 
	background-image: url(../../../images/portfolio/thumbs/cj01.jpg);
}

.ch-img-15 { 
	background-image: url(../../../images/portfolio/thumbs/farmacia-bicho02.jpg);
}
.ch-img-16 { 
	background-image: url(../../../images/portfolio/thumbs/sm01.jpg);
}
.ch-img-17 { 
	background-image: url(../../../images/portfolio/thumbs/granpaleteria03.jpg);
}
.ch-img-18 { 
	background-image: url(../../../images/portfolio/thumbs/btc01.jpg);
}
.ch-img-19 { 
	background-image: url(../../../images/portfolio/thumbs/js01.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	opacity: 1;
	pointer-events: auto;
}